{% extends 'base/layout.html.twig' %}

{% block body_id 'main' %}

{% block body %}
    {% include 'include/navbar.html.twig' %}

    <div class="{% block main_class %}main{% endblock %}">
        {% block main %}{% endblock %}
    </div>

    {% include 'include/footer.html.twig' %}
{% endblock %}