{% extends 'base/layout.html.twig' %}

{% block body_id 'main' %}

{% block stylesheets %}
    {{ parent() }} {{ encore_entry_link_tags('main') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }} {{ encore_entry_script_tags('main') }}
{% endblock %}

{% block body %}
    {% include 'include/navbar.html.twig' %}

    <div class="{% block main_class %}main{% endblock %}">
        {% block main %}{% endblock %}
    </div>

    {% include 'include/footer.html.twig' %}
{% endblock %}