{% extends 'base/main.html.twig' %}

{% block main_class %}{{ parent() }} home{% endblock %}
{% block title 'Accueil : Shop' %}

{% block main %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shop in style</h1>
                <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
            </div>
        </div>
    </header>

    <!-- Alert success -->
    {% for message in app.flashes('success') %}
        <div class="alert alert-primary d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
            <div>{{ message }}</div>
        </div>
    {% endfor %}


    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for product in products %}
                    {% include 'main/components/_product.html.twig' %}
                {% endfor %}

                <div class="navigation w-100 d-flex justify-content-center">
                    {{ knp_pagination_render(products) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}