{% extends 'base/main.html.twig' %}

{% block main_class %}{{ parent() }} payment{% endblock %}
{% block title 'Accueil : Paiement Succès' %}

{% block main %}
    <!-- Header-->
    <header class="bg-dark py-1">
        <div class="container px-4 px-lg-5 my-4">
            <h1 class="text-start text-white display-6 fw-normal">Paiement</h1>
        </div>
    </header>

    <!-- Section -->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="w-75">
                <p class="text-success fs-5">Votre paiement est passé avec succès</p>
                <p class="text-muted">Merci pour votre confiance</p>
                <p>Votre commande est en cours de préparation. Il sera livré dans le plus bref délai. Les détails de la livraison vous serons envoyé prochainement.</p>
                <p>Accéder dans votre <a href="#">espace utilisateur</a> pour voir les details de vos commandes.</p>
            </div>

            <div class="mt-4">
                <a href="{{ path('app_home') }}" class="btn btn-sm btn-secondary">Continuer vos achats</a>
            </div>
        </div>
    </section>
{% endblock %}